

//Pallet 1
$color1: #2d2928;
$color2: #4c5f67;
$color3: #142028;
$color4: #eaf4ec;
$color5: #c8413d;

//Pallet 2
$color6: #191716;
$color7: #E6AF2E;
$color8: #E0E2DB;
$color9: #3D348B;
$color10: #beb7a4;