@import 'settings/colors';

.home-about-us-container {
  height: 640px;
  display: flex;
  flex-direction: column;
  background-color: #453b3b;
  @media (max-width: 500px) {
    max-width: 100%;
    margin:0;
    padding: 0;
  }
  @media (max-width: 1130px){
    height: 1200px;
  }

  & .divider {
    margin-bottom: 30px;
  }

  h1 {
    font-weight: 300;
    letter-spacing: 0.075em;
    line-height: 50px;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 1px 1px 5px black;
    align-self: center;
    width: 350px;
    margin-bottom: 0.1em;
    color: #b8aeae;
    @media (max-width: 500px) {
      max-width: 90%;
      margin:0;
      padding: 0;
      font-weight: 100;
      width:70%;
    }
  }

  .main {
    display: flex;
    height: 100%;
    @media (max-width: 1130px) {
      flex-direction: column;
    }

    .left {
      display: flex;
      flex-direction: column;
      width: 55%;
      height: 100%;
      @media (max-width: 1130px) {
        width: 100%;
      }
    }

    .right {
      width: 45%;
      height: 100%;
      display: flex;
      flex-direction: column;
      @media (max-width: 1130px) {
        width: 100%;
        margin-left: 5%;
      }
      @media (max-width: 500px) {
        max-width: 100%;
        width: 100%;
        margin:0;
        padding: 0;
      }

      .text {
        font-size: 20px;
        width: 90%; 
        // height: 55%;
        text-align: justify;      
        @media (max-width: 500px) {
          font-size: 16px;
          max-width: 100%;
          width: 85%;
          align-self: center;
          // margin:0;
          // padding: 2px;
        }  
      }

      .buttons {
        width: 100%;
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        position: relative;

        @media (max-width: 500px) {
          max-width: 100%;
        }
        

        a:nth-child(1) {
          left: 25%;
          @media (max-width: 1700px){
            left: 10%;
          }
          @media (max-width: 500px) {
            max-width: 30%;
            left: 3%;
          }
        }
        a:nth-child(2) {
          right: 25%;
          cursor: pointer;
          @media (max-width: 1700px){
            right: 10%;
          }
          @media (max-width: 500px) {
            max-width: 30%;
            width: 30%;
            right: 3%;
          }
        }

        @media (min-with: 1300px){
          a:nth-child(1) {
            left: 5%;
          }
          a:nth-child(2) {
            right: 5%;
            cursor: pointer;
          }
        }
        

        a {
          position: absolute;
          padding: 15px 30px;
          color: $color4;
          text-decoration: none;
          font-size: 24px;
          overflow: hidden;
          transition: 0.2s;
          border: 2px solid rgba(255,255,255,0.1);
          border-radius: 25px;
          @media (max-width: 550px) {
            font-size: 15px;
            padding: 25px 25px;
          }
          
        }
        a:hover {
          color: $color3;
          background-color: $color4;
          box-shadow: 0 0 5px $color1, 0 0 20px $color1, 0 0 45px $color1;
          border: 2px solid white;
          transition-delay: 0.3s;
        }

      a span {
        position: absolute;
      }

      a span:nth-child(1) {
        top: 0;
        left: -100%;
        width: 100%;
        height: 2px;
        background-image: linear-gradient(90deg,rgba(255,0,0,0), $color4 100%);
      }

      a:hover span:nth-child(1) {
        left: 100%;
        transition: 1s;
      }

      a span:nth-child(2) {
        bottom: 0;
        right: -100%;
        width: 100%;
        height: 2px;
        background-image: linear-gradient(270deg, rgba(255,0,0,0), $color4 100%);
      }

      a:hover span:nth-child(2) {
        right: 100%;
        transition: 1s;
      }
  
      }

    }
  }

}

.row {
  display: flex;
  flex-grow: 1;
  justify-content: center;
}

.parallax-banner-layer-0 {
  // top: -25% !important;
  // bottom: -25% !important;
  margin-left: 4%;
  border: 1px solid $color3;
}