@import "settings/colors";
@import "settings/fonts";


.home-contact-container {
  height: 80vh;
  background-color: $color3;

  & .divider-wrapper {
    margin-bottom: 1.5em;
  }
}

.home-contact-container h1 {
  color: $color10;
  font-weight: 300;
  letter-spacing: 0.075em;
  line-height: 50px;
  text-transform: uppercase;
  text-align: center;
  text-shadow: 1px 1px 5px black;
  // width: 350px;
  margin-bottom: 0.1em;
}

.howToOrder {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(100vw - (100vw - 100%));
}

.howToOrder .boxes {
  display: flex;
  height: 100%;
}

.aboutText {
  width: 45%;
  padding-left: 5%;
  padding-right: 5%;
  color: #9a9090;
  font-size: 20px;
}

.contactForm {
  width: 35%;
  height: 100%;
  margin-left: 5%;
  margin-right: 5%;
  padding-top: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  background-color: $color2;
  border-radius: 10px;
  color: $color4;
  // opacity: 50%;
  // box-shadow: 10px 10px 5px #aaaaaa;
  // box-shadow: 0 0 5px $color2, 0 0 20px $color2, 0 0 45px $color2;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
}

.contactForm:hover {
  // opacity: 90%;
}

.formBox {
  display: flex;
  width: 100%;
}


.formBox .formLeft {
  width: 40%;
  padding: 5%;
  padding-left: 8%;
}

.formBox .formRight {
  width: 60%;
  padding: 5%;
  padding-left: 5%;
  padding-right: 8%;
  .check1, .check2 {
    font-size: 11px;
    margin-top: 2px;
  }
}

.contactForm h3 {
  border-bottom: 3px black;
}

.formBottom {
  height: 100%;
}

// .bike-icon {
//   width: 100px;
//   height: 100px;
//   background-color: white;
// }

.contactForm form {
  font-size: 15px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 7%;
  margin-top: -20px;
}

.contactForm form label {
  width: 100%;
}

.contactForm form input {
  background: none;
  border: solid 1px $color4;
  transition: 0.3s;
  padding: 5px;
}


.contactForm form .title {
  font-weight: bold;
  font-size: 14px;
}

.contactForm form .formUp {
  border-top: none;
  border-left: none;
  border-right: none;
  background: none;
  border-bottom: solid 1px black;
  //width: 170px;
  margin-top: 0px;
  width: 100%;
}

.formMessage {
  word-break: break-all;
  border-top: none;
  border-left: none;
  border-right: none;
  background: none;
  border-bottom: solid 1px black;
  margin-top: 10px;
  width: 100%;
  height: 50%;
}

.sendButton {
  color: $color4;
  width: 100px;
  align-self: center;
  border-color: $color4;
  border-radius: 25px;
  font-size: 18px;
  text-transform: uppercase;

}

.sendButton:hover{
  color: $color3;
  cursor: pointer;
  background-color: $color4;
}

.messageSend {
  // p{
    //margin-top: 40px;
    //height:50px;
    //width: 300px;
    //text-align: center;
    //font-weight: bold;
    //font-size: 15px;
  // }
  p.send{
    color: green;
  }
  p.error{
    color: red;
  }
}

form span{
  display: block;
  font-size: 0.7rem;
  color: red;
  //border-top: 1px solid red;
  width: 100%;
}
form span.correct{
  width:100%;
  //border-top: 1px solid green;
}