@import "settings/colors";
@import "settings/fonts";


.divider {
  @media (max-width: 350px){
    width: 80%;
  }}

.responsive {
  @media (max-width: 650px){
    max-width: 95%;
  }
}

.desc {
  //display: none;
  padding: 15px;
  text-align: center;
}

.gallery {
  margin: 5px;
  border: 1px solid transparent;
  float: left;
  width: 280px;
}

.gallery:hover {
  border: 1px solid #777;
}

.gallery img {
  width: 100%;
  height: auto;
}

.galleryRow {
  display: flex;
  justify-content: space-around;
}

.galleryHeader {
  color:  $color10;
  font-weight: 300;
  letter-spacing: 0.075em;
  line-height: 50px;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 1px 1px 5px black;
  margin-bottom: 0.1em;
}

.home-gallery-container {
  background-color: $color3;
  color: $color4;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.firstRow {
  margin-top: 50px;
  @media (max-width: 550px){
    flex-direction: column;
    margin-top: 10px;
  }
}
.secondRow {
  margin-bottom: 50px;
  @media (max-width: 550px){
    flex-direction: column;
    margin-top: 10px;
  }
}

.responsive {
  display: flex;
  justify-content: center;
  float: left;
  width: 24%;
  @media (max-width: 550px){
    width: 100%;
  }
}