.main-nav-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  li a {
    display: inline-block;
    color: #fff;
    text-shadow: 1px 1px 5px gray;
    font-size: 18px;
    text-decoration: none;
    padding: 20px 30px;
  }
}
.main-nav-toggle {
  display: none;
}

@media (max-width: 780px) {
    .main-nav-toggle {
      width: 57px;
      height: 57px;
      display: block;
      background-color: transparent;
      border: none;
      outline: none;

      &:active {
        background-color: darken($color3, 1);
      }

      span {
        display: block;
        background-color: grey;
        width: 40px;
        height: 5px;
        margin: 6px 8px;
      }
    }
    
    .main-nav-list {
      position: fixed;
      transition: 0.5s transform;
      top: 0;
      left: -320px;
      width: 320px;
      height: 80%;
      background: $color3; //darken($color, 10);
      flex-direction: column;
      opacity: 0.93;
    }
    .main-nav-list.show {
      //	transform: translate(100%);
      transform: translate(320px, 80px);
      .container {
        margin: 0 30px;

        .row {
          display: flex;
        }
      }
    }
}

.main-nav-right {
  display: flex;
  justify-content: space-around;
  width: 22%;
  @media (max-width: 780px){
    flex-direction: column;
    margin-top: 1%;
    width: 30%;
  }
  @media (max-width: 1089px){
    width: 30%;
  }
}

.main-nav-social-wrapper{
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
  margin-bottom: 10px;
  @media (max-width: 780px){
    justify-content: flex-start;
    order: -1;
    margin-top: 5px;
  }
  @media (max-width: 510px){
    justify-content: center;
    margin-left: -40%;
    max-width: 100%;
  }
  
}

.header-signature {
  max-width: 120px;
  height: 45px;
  @media (max-width:450px){
  margin-top: 28px;
  height: 30px;
  
  }
}

.facebook {
  margin-left: 22px;
  @media (max-width:450px){
    margin-left: 10px;
  }
}

.instagram {
  margin-left: 22px;
  margin-right: 22px;
}
.page-header {
  // background: $color2;
  background: #4C5F67;
background: -webkit-linear-gradient(top, #4C5F67, #FFFFFF00);
background: -moz-linear-gradient(top, #4C5F67, #FFFFFF00);
background: linear-gradient(to bottom, #4C5F67, #FFFFFF00);
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 9999;
  height: 80px;
  flex-direction: row;
  @media (max-width: 450px){
    height: 110px;
    padding: 5px;
  }
}
