@import "~react-image-gallery/styles/scss/image-gallery.scss";
@import "settings/colors";


.image-gallery-description {
  font-size: 21px;
}

.portfolio-container {
  background: $color3;
}

.portfolio-nav-list {
  background: $color3;
  color: #eaf4ec;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 16px 0;
}
.portfolio-nav-list-link {
  margin: 0 10px;
  cursor: pointer;
  height: auto;
  width: auto;
  position: relative;
}

.classic{
  width: 400px; height: 400px;
  background: url('../assets/portfolioClassic_icon.jpg');

  &::before {
    background-color: $color6;
    color: $color4;
    content: 'CLASSIC EDITION';
    font-weight: 700;
    position: absolute;
    text-align: center;
    top:50%; left:50%;
    transform: translate(-50%, -50%);
    padding:1.5% 1.5%;
    width: 100%;
  }
}

.black{
  width: 400px; height: 400px;
  background: url('../assets/portfolioBlack_icon.jpg');

    &::before {
      background-color: $color4;
      color: $color6;
      content: 'BLACK EDITION';
      font-weight: 700;
      position: absolute;
      text-align: center;
      top:50%; left:50%;
      transform: translate(-50%, -50%);
      padding:1.5% 1.5%;
      width: 100%;
    }
  
}

.retro{
  width: 400px; height: 400px;
  background: url('../assets/portfolioRetro_icon.jpg');

  &::before {
    background-color: $color6;
    color: $color4;
    content: 'RETRO EDITION';
    font-weight: 700;
    position: absolute;
    text-align: center;
    top:50%; left:50%;
    transform: translate(-50%, -50%);
    padding:1.5% 1.5%;
    width: 100%;
  }
}

.hidden {
  display: none;
  opacity: 0;
  max-height: 0;
  transition: all 0.4s ease-in-out;
}

.classic-gallery {
  opacity: 1;
  max-height: 1000px;
  transition: all 0.4 ease-in-out;
}

.black-gallery {
  opacity: 1;
  max-height: 1000px;
  transition: all 0.4 ease-in;
}
