@import "settings/colors";

.slide-container {
  width: 100%;
  overflow: hidden;
}

h3 {
  text-align: center; }

.each-slide > div {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  display: flex;
  justify-content: center;
  align-items: center;

  height: 70vh;
    @media (max-width: 500px){
      height: 50vh;
    }
}

.each-slide span {
  padding: 20px;
  font-size: 40px;
  font-weight: 700;
  // font-style: italic;
  letter-spacing: 0.5em;
  color: rgba(0,0,0,0.8);
  background: rgba(255,255,255,0.5);
  border-radius: 6px;
  text-align: center;
  text-transform: uppercase;
}

.each-fade {
  display: flex;
}

.each-fade .image-container {
  width: 75%;
  overflow: hidden;
}

.each-fade .image-container img {
  width: 100%;
}

.each-fade h2 {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background: #adceed;
}

.home-slide-show-container {
  background-color: $color1;
  height: 70vh;
  color: $color4;
    @media (max-width: 500px){
      height: 50vh;
    }
}

.react-slideshow-container + div.indicators{
  flex-direction: row;
  position: relative;
  top: -13px;
  height: 0;
  margin-top: 0 !important;
}

.react-slideshow-container .nav:first-of-type{
  align-self: auto;
}

.react-slideshow-container .nav:last-of-type{
  align-self: auto;
}

.react-slideshow-container .nav span {
  background-color: transparent;
}