.home-nav-list {
  color: #fff;
}
.home-nav-list-link {
  margin: 10px;
  cursor: pointer;
}
.home-slide-show-container {
  background-color: $color1;
  height: 90vh;
  color: #fff;
}
.home-about-us-container {
  background-color: $color2;
  height: 90vh;
  color: #fff;
}
.home-gallery-container {
  background-color: $color3;
  height: 90vh;
  color: #fff;
}
.home-contact-container {
  background-color: $color4;
  height: 90vh;
  width: calc(100vw - (100vw - 100%));
  display: flex;
  flex-direction: column;
  align-items: center;
}