
@import './settings/colors';
@import './settings/fonts';
@import "./home.scss";
@import "./navigationWithButton.scss";
@import "./contact";

body {
  background: $color2;
  font-family: $font-base;
  font-size: 16px;
}

.App-header {
  font-size: 30px;
}