@import './settings/colors';
@import './settings/fonts';


body {
  background: $color2;
  font-family: $font-base;
  font-size: 16px;
}

.page-header {
  // background: $color2;
  background: #4C5F67;
background: -webkit-linear-gradient(top, #4C5F67, #FFFFFF00);
background: -moz-linear-gradient(top, #4C5F67, #FFFFFF00);
background: linear-gradient(to bottom, #4C5F67, #FFFFFF00);
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 9999;
}

.header-signature {
  width: auto;
  height: 45px;
}

@import "home";
@import "navigationWithButton";
@import "contact";
@import "SlideShow";
@import "about";
@import "portfolio";
@import "gallery";
@import "footer";
@import "divider";