@import './settings/colors';
@import './settings/fonts';


// body {
//   background: $color2;
//   font-family: $font-base;
//   font-size: 16px;
//   overflow-x: hidden;
// }

// zastąpiłem poniższym dla usunięcia paska

html, 
body {
    width: 100%;
    height: 100%;
    background: $color2;
    font-family: $font-base;
    font-size: 16px;
    margin: 0;
    padding: 0;
    // overflow-x: hidden; 
}

@import "home";
@import "navigationWithButton";
@import "contact";
@import "SlideShow";
@import "about";
@import "portfolio";
@import "gallery";
@import "footer";
@import "divider";
@import "makingOf";

// * {
//     background: #000 !important;
//     color: #0f0 !important;
//     outline: solid #f00 1px !important;
// }